#home {

  .title {
    padding: {
      bottom: 20px;
    }
  }

  .search-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: stretch;
  }

  .search-input {
    width: 100%;
    // width: 800px;
  }
}

