.layout {
  height: 100vh;
}

.side-menu-logo {
  height: 64px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  color: #F1F2F3;
}

.layout-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #4A4A4A;
  padding: 0;
}
.layout-content {
  margin: 74px 16px 0;
}
